html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(33, 35, 47);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
  cursor: crosshair;
}

.line {
  height: 5vh;
  width: 0.5vw;
  background-color: lightskyblue;
  display: inline-block;
  margin-left: 1vw;
  margin-right: 0.5vw;
  vertical-align: middle;
}

.container {
  min-height: 100%;
  text-align: center;
}

.page-header {
  background-size: cover;
}
.bulb {
  position: relative;
  float: left;
  margin-right: 1vw;
  font-size: 34px;
  color: white;
}
.profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 4px solid lightskyblue;
}
.theme-toggle {
  position: relative;
  text-align: left;
  padding-left: 2vw;
  padding-top: 2vh;
}

.description {
  margin: 0;
  text-align: center;
}
.page-list-container {
  margin-top: 5vh;
}
.page-list-container ul {
  padding-left: 0;
  display: inline;
}
.page-list-container li {
  padding-left: 0;
  padding-top: 1vh;
  list-style-type: none;
  display: inline-flex;
}

.list-link {
  font-size: large;
  border-radius: 15px;
  border: solid 5px;
  border-color: paleturquoise;
  padding: 10px;
  text-decoration: none;
  background-color: white;
  color: black;
}

.about-content {
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
}

.profiles-container {
  display: inline;
}
.profiles-container ul {
  padding-left: 0;
  display: inline;
}
.profiles-container li {
  padding-left: 0pt;
  list-style-type: none;
  display: inline;
  margin: 1vw;
}
.profile-link {
  font-size: large;
  text-decoration: none;
  /* background-color: white; */
  color: black;
}
.github {
  color: white;
}

.exp-section {
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.exp-section ul {
  /* margin-right: 1vh;
  text-decoration: none; */
  padding-left: 0;
  display: inline;
  align-items: center;
}
.exp-section li {
  padding-left: 0;
  padding-top: 1vh;
  list-style-type: none;
  display: inline-flex;
  margin: 10;
}
/* flip the pane when hovered */

.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  perspective: 700px;
  height: 300px;
  width: 350px;
  box-shadow: 0 8px 6px -6px lightskyblue;
}
.flipper div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 10;
}
/* flip speed */

.flipper {
  transition: 0.3s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

/* front pane, placed above back */

.front {
  z-index: 2;
  transform: rotateY(0deg);
  background-color: lightsalmon;
}
.front h2,
p {
  color: black;
}
.front p {
  position: absolute;
  margin-left: 130;
  bottom: 0;
}
/* back, initially hidden pane */

.back {
  transform: rotateY(-180deg);
  background-color: lightblue;
  color: black;
}

.edu-section {
  min-height: 100%;
  margin: 10;
}
.edu-section h1 {
  text-align: center;
}
.edu-item {
  text-align: center;
}
.edu-item-heading h2 {
}
.edu-item-content {
  margin-left: 10%;
  text-align: left;
}
.edu-item-heading h2 {
  margin-bottom: 0;
  border: 2px solid lightskyblue;
}
.edu-item-heading h4 {
  margin-top: 0;
  margin-bottom: 0;
}
.edu-item-content h4 {
  margin-top: 0;
  margin-bottom: 0;
}
.edu-item-content {
  color: white;
}

.contact-section {
  margin: 10;
  min-height: 100%;
}
.contact-section h1 {
  text-align: center;
}
.contact-form {
  border-radius: 5px;
  width: 90vw;
  height: 75vh;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: center;
}
.contact-form-label {
  margin-top: 1vh;
  color: whitesmoke;
  border-bottom: 5px solid #00ffff;
}
.contact-form-input {
  text-align: center;
  margin-top: 1vh;
  background-color: white;
  margin-bottom: 4vh;
  font-size: medium;
  border-radius: 5px;
}
.contact-form-button {
  height: 50px;
  width: 80px;
  border-radius: 10px;
  background-color: lightsalmon;
  font-size: large;
}
.contact-form-button:hover {
  cursor: pointer;
}

.footer {
  position: relative;
  background-color: lightsteelblue;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: black;
}

.light-mode {
  color: black;
  background-color: white;
}
.light-mode .description p {
  color: black;
}
.light-mode .about-content p {
  color: black;
}
.light-mode .list-link {
  color: white;
  background-color: black;
}
.light-mode .github {
  color: black;
}
.light-mode .bulb {
  float: left;
  margin-right: 1vw;
  font-size: 34px;
  color: black;
}
.light-mode .front h2,
p {
  color: white;
}
.light-mode .edu-item-content p {
  color: black;
}
.light-mode .contact-form p {
  color: black;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
