@import url('https://fonts.googleapis.com/css2?family=Asap:wght@600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #24272E;
}

header {
	background: #24272E;
	padding: 20px;
}

header > h1 {
	color: #25272E;
	text-align: center;
	font-family: 'Asap', sans-serif;
}

.footer {
	position: fixed;
	bottom: 0px;
	background: #24272E;
	padding: 5px;
	width: 100%
}

.footer > p {
	color: white;
	text-align: center;
	font-family: 'comic', sans-serif;
}

#sidenav a {
	position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: black; /* White text color */
  border-radius: 0 5px 5px 0;
}

#sidenav a:hover {
	left: 0; /* unhide on hover*/
}

#about {
  top: 20px;
  background-color: #d5f4e6;
}
#projects {
  top: 80px;
  background-color: #80ced6; /* Red */
}
#quotes {
  top: 140px;
  background-color: #fefbd8; /* Blue */
}
#blog {
	top: 200px;
	background-color: #618685;
}
#contact {
  top: 260px;
  background-color: white /* Light Black */
}