@import url('https://fonts.googleapis.com/css2?family=Asap:wght@600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/*background: #24272E;*/
	background: #24272E;
}
/*
header {
	background: #24272E;
	padding: 20px;
}

header > h1 {
	color: #25272E;
	text-align: center;
	font-family: 'Asap', sans-serif;
}*/

.footer {
	position: fixed;
	bottom: 0px;
	background: #24272E;
	padding: 5px;
	width: 100%
}

.footer > p {
	color: white;
	text-align: center;
	font-family: 'comic', sans-serif;
}

#sidenav a {
	position: relative; /* Position them relative to the browser window */
  	top: 0px; /* Position them outside of the screen */
	transition: 0.3s; /* Add transition on hover */
	transition-duration: 1s;
	padding: 10px 10px; /* 15px padding */
	width: 50px; /* Set a specific width */
	text-decoration: none; /* Remove underline */
	font-size: 2em; /* Increase font size */
	color: black; /* White text color */
	border-radius: 5px 5px 5px 5px;
	writing-mode: vertical-rl;
	height: max-width;
  	text-orientation: upright;
  	margin: 0 10px 0 0;
}

#sidenav a:hover {
	background-color: pink;
	top:50px;
}

#about {
  /*left: 0px;*/
  background-color: #d5f4e6;
}
#projects {
  /*left: 100px;*/
  background-color: #80ced6; /* Red */
}
#quotes {
  /*left: 200px;*/
  background-color: #fefbd8; /* Blue */
}
#blog {
	/*left: 300px;*/
	background-color: #618685;
}
#contact {
  /*left: 400px;*/
  background-color: white /* Light Black */
}

#right {
	color: antiquewhite;
	margin-left: 50%;
	width: 50%;
}

#top-right {
	position: absolute;
	top: 0%;
}
#top-right > p {
	color: cadetblue;
}
#bottom-right > p{
	color: cadetblue;
}


@media (max-width: 1000px) {

	#sidenav a {
		position: relative; /* Position them relative to the browser window */
		top:0;
		right:0px;
		left: 0;  /*Position them outside of the screen */
		padding: 15px; /* 15px padding */
		width: max-content;
		height: 100px;
		text-decoration: none; /* Remove underline */
		font-size: 50px; /* Increase font size */
		text-orientation: upright;
		writing-mode: unset;
		display: inherit;
		margin: 30px 0;
	}

	#sidenav a:hover {
		top: unset;
		left: 10%; /* unhide on hover*/
		background-color: pink;
	}
}