@import url('https://fonts.googleapis.com/css2?family=Asap:wght@600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #24272E;
}

header {
	background: #24272E;
	padding: 20px;
}

header > h1 {
	color: #25272E;
	text-align: center;
	font-family: 'Asap', sans-serif;
}

.footer {
	position: fixed;
	bottom: 0px;
	background: #24272E;
	padding: 5px;
	width: 100%
}

.footer > p {
	color: white;
	text-align: center;
	fzont-family: 'comic', sans-serif;
}

#sidenav a {
	position: absolute; /* Position them relative to the browser window */
  	top: -60px; /* Position them outside of the screen */
	transition: 0.3s; /* Add transition on hover */
	padding: 15px; /* 15px padding */
	width: 50px; /* Set a specific width */
	text-decoration: none; /* Remove underline */
	font-size: 20px; /* Increase font size */
	color: black; /* White text color */
	border-radius: 5px 5px 5px 5px;
	writing-mode: vertical-rl;
  	text-orientation: upright;
}

#sidenav a:hover {
	top: 0; /* unhide on hover*/
	background-color: pink;
}

#about {
  left: 0px;
  background-color: #d5f4e6;
}
#projects {
  left: 100px;
  background-color: #80ced6; /* Red */
}
#quotes {
  left: 200px;
  background-color: #fefbd8; /* Blue */
}
#blog {
	left: 300px;
	background-color: #618685;
}
#contact {
  left: 400px;
  background-color: white /* Light Black */
}

@media (max-width: 1000px) {

	#sidenav a {
		position: relative; /* Position them relative to the browser window */
		top: unset;
		left: -80px;  /*Position them outside of the screen */
		transition: 0.3s; /* Add transition on hover */
		padding: 15px; /* 15px padding */
		height: 100px;
		width: max-content;
		text-decoration: none; /* Remove underline */
		font-size: 50px; /* Increase font size */
		color: black; /* White text color */
		border-radius: 5px 5px 5px 5px;
		text-orientation: upright;
		writing-mode: unset;
		display: inherit;
		margin: 10px 0 0 0;
	}

	#sidenav a:hover {
		left: 0; /* unhide on hover*/
		background-color: unset;
	}
	#sidenav a:active {
		left: 0;
		background-color: pink;
	}
	#about {
		top: 10px;
		left: unset;
		background-color: #d5f4e6;
	}
	#projects {
		top: 10px;
		background-color: #80ced6; /* Red */
	}
	#quotes {
		top: 200px;
		background-color: #fefbd8; /* Blue */
	}
	#blog {
		top: 300px;
		background-color: #618685;
	}
	#contact {
		top: 400px;
		left: unset;
		background-color: white; /* Light Black */
	}
}